<a href="https://colab.research.google.com/github/tkwang312/Fibonnaci-number-spreadsheets/blob/main/Copy_of_Tenth_Fibonacci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nterms = 10

n1, n2 = 0, 1
count = 0

while count < nterms:
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

print(n1)

55

In [ ]:
int1 = int(input("Give one integer "))
int2 = int(input("Give another integer "))

def gcd(x, y):
  while y != 0:
    x, y = y, x % y
  print(x)

gcd(int1, int2)

Give one integer 27
Give another integer 9
9

In [ ]:

matrix1 = [[1], 
           [7], 
           [4]]

matrix2 = [3, 5, 9]

a = 0

num = 0

while a < 3:
  num += matrix2[a] * matrix1[a][0]
  a += 1

print(num)

74

In [ ]:
m1 = [[1, 2], 
      [3, 4]]

m2 = [[5, 6], 
      [7, 8]]

m3row1 = []

m3row2 = []

m3 = []

a = 0

num1, num2, num3, num4 = 0, 0, 0, 0

while a < 2:
  num1 += m1[0][a] * m2[a][0]
  num2 += m1[0][a] * m2[a][1]
  num3 += m1[1][a] * m2[a][0]
  num4 += m1[1][a] * m2[a][1]
  a += 1



m3row1.append(num1)
m3row1.append(num2)
m3row2.append(num3)
m3row2.append(num4)
m3.append(m3row1)
m3.append(m3row2)

print(m3)

[[19, 22], [43, 50]]

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

sheet = gc.open("Ed and Larry Data ATM").sheet1

rows = sheet.get_all_values()

rows.remove(["Ed", "Larry", "Dot Product", "Product"])

a, b, c, d = rows

e, f, q, z = a

g, h, n, y = b

j, k, o, x = c

l, m, p, t = d

m1 = [int(e), int(g), int(j), int(l)]

m2 = [[int(f)], 
      [int(h)], 
      [int(k)], 
      [int(m)]]

m3 = [int(f), int(h), int(k), int(m)]

m4 = []

a = 0

r = 0

num = 0

for i in m1:
  m4.append(m1[r] * m3[r])
  r += 1

while a < 4:
  num += m1[a] * m2[a][0]
  a += 1

print(m4)

#cell_list = sheet.range("C2:C2")

cell_list2 = sheet.range("D2:D5")

for cell in cell_list2:
  for i in m4:
    cell.value = i

#for cell in cell_list:
  #cell.value = num

#sheet.update_cells(cell_list)
sheet.update_cells(cell_list2)

[5, -10, 80, 144]

{'spreadsheetId': '1Wc89kEKdG4OJh6ErusR-3oh0-FoKSVo6Adl6p369q44',
 'updatedCells': 4,
 'updatedColumns': 1,
 'updatedRange': 'Sheet1!D2:D5',
 'updatedRows': 4}